body{
    margin: 0;
}
h1{
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
}
h2{
    font-family: 'Poppins', sans-serif;
    font-size: 40px;

}
h3{
    font-family: 'Poppins', sans-serif;

}
p{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 400; */
    color: dimgray;
}
.welcome{
    display: flex;
    padding: 0 100px;
    background-image: url(developer-portfolio-master/images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 160px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 90%;
}
span{
    color: orange;
}
.link-button{
     text-decoration: none;
     background-color: #F88567;
     padding: 10px 40px;
     color: white;
     font-size: 18px;
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
     font-weight: 700;
     border-radius: 5px;
     border: none;
}

.dream-big{
    display: flex;
    padding: 0 100px;  
    background-image: url(/developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
